@import "tailwindcss";

@theme {
    --font-poppins: Poppins, sans-serif;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 10px;
    background: #222;
}

html::-webkit-scrollbar-thumb {
    background: #e11d48; /* vermelho Tailwind */
    border-radius: 8px;
}

html::-webkit-scrollbar-track {
    background: #000;
}

body {
    background: #000;
    overflow-x: hidden;
}